
  <nb-card style="height: 13rem;"  class="mb-0 ml-auto mr-auto mb-2">
    <nb-card-body>
      <div class="row d-flex flex-row justify-content-center flex-nowrap">
        <div class="col text-center" *ngFor="let item of bookImagesArray; let i = index">
          <img [src]="item.imagePath" alt="image" style="width: auto;
                    height: 11rem;">
        </div>
      </div>

    </nb-card-body>
  </nb-card>
  <nb-card class="mb-0 ml-auto mr-auto">
    <nb-card-header>
      <h6>
        {{book.name}}
      </h6>
    </nb-card-header>
    <nb-card-body>

      <div class="row h-100">
        <div class="col">
          <app-book [text]="book.text" [searchTerm]="searchTerm"></app-book>
        </div>

      </div>


    </nb-card-body>
  </nb-card>

