<nb-card class="map-card">
  <!-- <nb-card-header>

  </nb-card-header> -->
  <nb-card-body class="map-container p-0 p-sm-2">
    <agm-map style="min-width: 100%;height: 100%;background-origin: 10px;" [latitude]='latitude' [longitude]='longitude' [mapTypeId]='mapType' [zoom]='zoom'>

      <agm-marker *ngFor="let place of places" [latitude]="place.latitude" [longitude]="place.longitude" (mouseOver)="onMouseOver(infoWindow,$event)" (mouseOut)="onMouseOut(infoWindow, $event)" (markerClick)="onMapMarkerClick(place)">

        <agm-info-window [disableAutoPan]="false" #infoWindow>

          <p class="text-dark" style="font-weight: bold;">
            {{place.name | titlecase}}
          </p>

          <p class="agm-info-window-text text-dark">
            {{place.text | BookTextConcater }}
          </p>

          <div>
            <!-- <a (click)="onClickInfoView({id:place.id})" class="btn btn-attention pull-right">Daje <i class="fa fa-angle-double-right"></i></a> -->
          </div>
        </agm-info-window>
      </agm-marker>

    </agm-map>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col text-center">
        <nb-select placeholder="Select Map Type" name="selectmapType" [(ngModel)]="mapType">
          <nb-option value="roadmap">ROADMAP</nb-option>
          <nb-option value="hybrid">HYBRID</nb-option>
          <nb-option value="satellite">SATELLITE</nb-option>
          <nb-option value="terrain">TERRAIN</nb-option>
        </nb-select>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
