<nb-card *ngIf="place">
  <nb-card-header>
    {{ place.name }}
  </nb-card-header>
  <nb-card-body class="">
    <div class="row h-100 d-flex flex-column justify-content-start">
      <div class="col mb-1 text-center">
        {{ place.text }}
      </div>
      <div *ngIf="place.comment" class="col text-center">
        <hr>
        {{ place.comment }}
      </div>
      <div *ngIf="placeImages">
        <!-- <div *ngFor="let image of placeImages.images; let i = index" class="col text-center mt-2">
          <img style="width: 11rem;height: auto;cursor: pointer;" [src]="image | String64ToImage" (error)="imageLoadError($event)" alt="image" (click)="openImageWindow(place,i, dialog)" />
        </div> -->
      </div>

    </div>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="pb-2">
      <div class="row">
        <div class="col">
          {{ data.name }}
        </div>
        <div class="col text-center">
          <!-- <span *ngIf="placeImages">{{selectedImageIndex+1}} из {{placeImages.images.length}}</span> -->
        </div>
        <div class="col">
          <div style="color: crimson;cursor: pointer;" (click)="ref.close()" class="float-right">
            <i class="fas fa-times-circle fa-2x"></i>
          </div>
        </div>
      </div>

    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col">
          <img style="width: 35rem;height: auto;" [src]="frontImagePath | String64ToImage" (error)="imageLoadError($event)" alt="image" />
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="pt-1  pb-1">
      <div class="row">
        <div class="col text-center">
          <button nbButton hero shape="round" status="warning" (click)="sliceLeft()">
            <i class="far fa-arrow-alt-circle-left fa-2x"></i>
          </button>
        </div>
        <div class="col text-center">
          <button nbButton hero shape="round" status="success" (click)="sliceRight()">
            <i class="far fa-arrow-alt-circle-right fa-2x"></i>
          </button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
