
<div class="welcome-page-container">
  <nb-alert
  accent="info"
  style="position: absolute;top: 5px;left:1%;width: 98%;">{{welcomeTitle}}</nb-alert>

  <div *ngIf="!isMobile">
    <nb-card *ngFor="let image of placeImages; let i = index" style="display: inline-block;border-radius: 10%;background-color: transparent;" id="image-card_{{i}}" class="image-card">
      <h6 class="text-center image-card-title">{{image.name}}</h6>
      <img id="image_{{i}}" [src]="image.imagePath" alt="place image">
    </nb-card>
  </div>

  <div *ngIf="isMobile">
    <nb-card
    *ngFor="let image of placeImages; let i = index"
    style="display: inline-block;border-radius: 10%;background-color: transparent;"
    id="image-card_mobile_{{i}}" class="image-card">
      <h6 class="text-center image-card-title">{{image.name}}</h6>
      <img id="image_{{i}}" [src]="image.imagePath" alt="place image">
    </nb-card>
  </div>

  <button
  nbButton
  ghost
  status="success"
  style="position: absolute;right: 1rem;bottom: 1rem;"
  (click)="navigateTo('/home')">
  <i
  class="fas fa-sign-in-alt fa-5x" ></i>
 </button>

</div>

