<div>
    <p>
        Кижи: Кижи – змеиный остров: гораздо змей много, змеи здесь злые. с. 7
      На кижском острове змей многое множество. с. 8
      Земля в Кижах хребет у солнца грееет. с. 9
      Это уже Кижское Заонежье. Пологая линия леса – то заиндевелого, мрачного, то длинноногого, чуть прикрытого весенним девчоновьим платьицем, нежно-зеленым, легким. Прямо посреди пролива – салмы – островок. Толстенькая березка короткими тонкими веточками от ветра отмахивается. А ветер с Онеги
      летит сильный, холодный! Земля здесь плодородна, хоть и камениста. Она и вскормила эту березку – дородную, коренастую, а ветер да морозы ей ходу не дали… Такие вот березки видел я и на островах Соловецких, такие деревца написаны северными иконописцами («а наче рещи – живописцами») на местных
      иконах. с.44
      Мир еще был погружен в перламутровый сумрак. Первый луч солнца взвился стрелой в поднебесье. Второй – коснулся крестов двух высоких церквей и колокольни на самом верхе Кижского острова. Летят стрелы – лучи! Уж вырваны из мрака главки, четко нарисованы бревенчатые срубы двух шатровых церквей и
      колокольни. И хлынул свет бурливым потоком – золотистые зарадовались ему только что сработанные срубы церквей колокольни, стены с башнями, большое село вокруг. с. 45
      Верно, змей у нас немало. Да то Кижам не в укор – змея без свету не живет. Видно, скрыты в нашей земле заветные клады, они и приманивают змей блеском самоцветов и золота! с.66
      В Кижах сохранилась память о крупнейшем антифеодальном выступлении крестьян Карелии – так называемом «кижском восстании», отголоске крестьянской войны под руководством Емельяна Пугачева. Кижи стали центром восстания, кижане – его зачинщиками. И здесь же, в 1771 году царские войска из пушки
      расстреляли восставших… с.76
    </p>
    <p>
      Заонежье: В Заонежье правься – мужики бунтуют. с.78
      Кижи Заонежью навек голова! с.79
      Знают и помнят в кижских деревнях про здешних старинщиков, известных на весь мир сказителей былин. Про славного русского сказителя из Заонежья Василия Петровича Щеголенка сказывал Егор Григорьевич Тестенников, старик из деревни Боярщины, что насупротив Кижского острова, за проливом. с.79
      В Заонежье земля худа, камениста, оттого хлеб дорог, дороже коня… Как по весне назём с конюшен свезут на поле – хлеб с осени стеной стоит, коль забрел в зеленя – бери топор да руби, а то не выйдешь… с.217
    </p>
    <p>
      Волковстров, Сенная Губа: А след ее обозначен голубыми самоцветами – от Волкострова к Кижам и дале, к Сенной Губе. с. 10
      Спросил я у нынешних жителей Волкострова про имя их села.
      - Почему Волкостров прозывается? Волки к нам зимой с голодухи забегают. Вот так под окнами и рыщут! – сообщил разговорчивый досюльный дедушко Бурков. с.47
      От чего деревня Волкостров прозывается теперь? Волхв-остров поначалу-то было, остров, мол, волхва – колдуна! Про чародея с теченьем веков забыли, а про волков разве забудешь? Вон на льду завыли опять! с.48
    </p>
    <p>
      Корба: с. 11
      Но до сих пор помнят сенногубские старики предание «о лесном царе Корбе» - местном языческом лесном божестве, - и о месте, где собирались люди, чтобы совершить ему моление. Языческими храмами вздымаются вокруг Кижского острова густые ельники, по-местному – корбы, - в Волкострове, Телятникове,
      в Корбе, в Воробьях… с.44
    </p>
    <p>
      Великая Губа: с. 13
    </p>
    <p>
      Онего: В малых речонках – избенки, в больших реках – терема с резными прибасенками, в Онего – дворец хрустальной. с. 14
      «Хоть бы камень-луда выстал на Онеге-озере!» - подумала. с 23
      Падают в лесах вековые сосны, чернеют на берегах избы, церкви с колокольнями… Тот звон кажет путь лодьям в Онеге – синем морюшке, страховитом, гневлитом. с. 38
      Улегся грохот льдин, гул машины, - осталось Онего в расстегнутом нараспашку дубленом тулупе… с.109
      В запутанном орнаменте ветвей корявых кижских ильмов тихо, без весельного всплеска проплывала черная, в рыжих подпалинах смоленая лодка – и холодную синюю гладь Онего скрыло от меня чиненое полотнище паруса, перехлестнутое по диагонали упругой реей – «райно». с. 111
      Сурово Онего, своенравно, морю подобно. В буре, свисте ветра вздыбится – меж волн не видно неба, далеко за окоемом земля, под килем – черная бездна. В гуле шторма не слышно скрипа корпуса парусника: не гвоздями – можевеловой и березовой вичкой шит кораблик, потому – гибок, как тело зверя.
      с.146
      Почти две тысячи островов в Онеге-озере, больших и малых, в пене прибоя, в шипении волн. с.146
    </p>
    <p>
      Пудож: На ступеньке калика перехожая сидел, онучи сушил; у нас калики ходили из Пудожа, от Купецкого озера: пели и духовное, и старинки сказывали, - и про Муромца Илью, крестьянского сына, и про Добрыню- богатыря, и про Олешеньку Поповича. с.15
    </p>
    <p>
      Новгород: …Новгород как жемчужное ожерелье, сияет – белые стены церквей, кремля, боярских хором. Новгородские крыши золотом горят, Бессчастный думал – пожар, хотел побежать заливать. Новгородские мужики житые, бабы степенные. Новгородский торг шумит на разные голоса, на разных заморских
      языках. с 17
    </p>
    <p>
      Волхов: Имел новгородский богатый купец едино утешенье – красавицу дочь. Она поехала на синий Волхов с подружками покататься… с.17
    </p>
    <p>
      Марьина Гора, Ишь-гора: … А и лембоев туристы пораспугали всих! Раньше-то их кажной час можно было видеть… я-то не видала, а старики говорили! Будто промеж Марьиной и Ишь-горой на Кижском острову есть города лембоев: и скот у них, и выгон, и пожни – все как у людей… Только церквей нету! с.18
      Ведь что удумали! На Марьиной горе усадили стару старуху… лешачиху, видать, сыскали какую ни… На Ишь-гору – другая посажена. У старух – жернова березевы, саженные железными клиньями. Одна месит муку ржаную, другая – овсяную. Они тесто скут да блины пекут на горючих белых камнях.
      Москва: Жительство ее в Москве, по тамошним порядам наряды надо кажный год на новый манер, мать с отцом денег не напасутся. с.21
    </p>
    <p>
      Заонежье: Тут туристы стали от борта к борту кидаться, корабль ронить. Вправду – берега в Заонежье гораздо красивые – с деревнями, часовнями, темным ельником, частым светлым березником. Да ведь в наших местах и под водой дива принасажены. с.21
      Поют в Заонежье песни, сказы сказывают о поре давней, о досюльщине, о слыхальщине. с.35
      с73-74 – нападение на Кижи.
      Вскинув голову, смеясь глазами, раздувает ноздри старый человек, вдыхает запахи весны. Весеннее Заонежье пахнет лодочной смолой, горячим железом, талой землей и березовым соком. И озером. И солнцем… На фоне желтого цветения ольх, ивняка, веселого вереска и угрюмых скал пламенеет и льется по
      ветру, обнажая кадыкастую коричневую дедову шею, огневая, в крутых завитках борода. с. 109
    </p>
    <p>
      Косельга, Войнаволок: Вышли паны разбойники на берег мокрые, безоружные. Булатные кинжалища вода взяла: ушли на дно, тьмой затворились. Безоружных бить – слава невеликая. Панов поселили каких в деревне Косельге, каких – в Войнаволоке; записали – Пановы. Там и теперь их фамилия есть. с. 22
      Была в Косельге старобытная икона: священник книгу в руках держит, сидя на коне верхом. Голова полотенцем обвязана, полотенце – в крови, и подписано «Корнилий» старобытными буквами… с.89
      - Дак в Косельге, слыхать, тамошни мужики лосей бьют, мясо через елку мечут, дереву службу служат! К косельгским правься, буде надо! с.89
      Крещена стала Косельга! с.90
    </p>
    <p>
      Подъельники: А ты, удала корабельщица, походи-ко к бабке – в Подъельники – калиток заонежских поесть. с. 23
    </p>
    <p>
      Кургеницы, Подгорная ямка, Васильев погост: А мы бесёды делали, вот, соберемся на поветь в сарай – хороводы водим, прядем да поем, а то - в ригу; когда больно холодно, в морозы, - по избам станем ходить: сегодня у тебя, завтра у меня. У нас в Подгорную – вот, в Ямку-то! – набегали беседницы
      и
      с Погоста, и с Васильева, которы дак и с Кургениц притянутся. с.24
      с.71-72 – история о возникновении д. Кургеницы
      Особенно много слышано о мореходстве и корабельном зодчестве в деревне Кургеницы, что входила в состав деревень Кижского погоста. с.149
    </p>
    <p>
      Яндмозеро, Сенная: Парни у подоконья мыкаются, мерзнут – ладно, пустим мы их! С уговором да с укором, а пустим. Чужих, дальних – с Яндмозера, с Сенной – обожжем… с.24
    </p>
    <p>
      Питер: А парень вкруг тебя так и вьется! У нас питерщик, вот который в Питере работает, в дом деньги наживает, - этот наживщик в деревне недельку-другую походит на бесёды – да и сватов засылает: некогда ему прохлаждаться, надо в Питер обратно ехать; жена дома останется, в деревне, - опять
      прибыток: работница. с.25
      с.59-66 история про Петра 1
    </p>
    <p>
      Деревня Середка: Десятигодовую отдали меня в земское училище, было такое в деревне Середка. с.29
    </p>
    <p>
      Ладожское озеро(нево): Долго ли, коротко ли – открылось озеро Нево! с.38
    </p>
    <p>
      Свирь: Плеснули озерной мягкой водицей на парус, побежали пуще прежнего по глубокой речке Свири, три раза по три дня, на вечернюю розовую зорю – к Онегу-озеру. с.38
    </p>
    <p>
      Клименцы, Волчья гора: Страшна мужицкая ненависть к жестокому коварному врагу. И вперемежку с волчьими костями тлеют на Волчьей Горе в Клименцах кости разноплеменных двуногих разбойников, издревле приходивших на эту политую кровью и потом землю. с.40
    </p>
    <p>
      Радколье: …Только поздно вечером столкнули лодью в озеро. Открещивались да отплевывались братья, укоряли друг друга, что забыли уклад и правду: прыгали, скакали среди рябин, как язычники-сыроядцы на острове, зововом Радколье; венки плели с девками, в воду бросали, через огонь прыгали, в
      хороводах хороводились. с. 41
    </p>
    <p>
      Сумпосад: Да, быват, к поморам за рыбой правились – на толокно менять. Ведь у нас которы на реке Онеге живут – те в Онегу-городок ездили, а мы, кенозеры, да вот еще лекшмозерски, ошевенски – в Сумпосад, а на обратном пути в Шуньгу приворотишь – все едино мимо ехать – как на ярманку не
      завернуть? – ехали мимо Киж, мимо Лижмы…
    </p>
    <p>
      Поморье: Этим путем к поморам не одни мы ехали – ваших, заонежских, целые обозы скакали… У заонежан впереди пущена бойкая лошаденка; дуги легоньки, кругленьки, расписны. Заонежана за возами скачут, полы подобравши, ругаются да смеются. Наши каргополы – степенны. Они на возах сидят – не
      ворохнутся, только глазом крутят; поверх длинной шубы тяжелой армяк вздет. Они впереди обоза – след наминать – пустят коней потяжелее. В гражданскую бывал, бронепоезд видал – гораздо похоже на каргопольский обоз в Поморье. А заонежский обоз – что твои тачанки. с. 56
      Ну, дак едут каргополы в Поморье! По озеру. Невесть как до деревни доехать, обогреться: хмарно, вечереет!... с.57
      …Ведь что ты думаешь – заонежане и коней разводили! Первое – без назему у нас поля худо родят. Второе – на Шуньгской ярмарке коням был хороший сбыт – живая, бойкая копейка появлялась в хозяйстве. Гоняли коней на продажу и в Поморье. Да что – сам Великий Петр на кижском коне ездил! В
      Ленинграде
      из меди отлит осударь – вершником, а под копытом у него змея вьется. с.66
    </p>
    <p>
      Крым: Да про гражданскую войну – в другой раз! Про Крым-то! Ничего там хорошего нету – жара, гнилое море да степь… А вот как мы в Поморье приедем, да чайку напьемся, да возы станем развязывать – глиняные игрушки, посуда, пряники, толокно – с рук рвут, веселешенько расхватывают поморки,
      ребятишки; рыбу кулями носят, в сани складывают. с.56
    </p>
    <p>
      Чорга-губа: Там, где каргополы толокно разводили, - а это было, сказывают, в Чорге-губе, там глубина самая страшенная на Онеге – сажен тридцать! – много рыбы развелось. Особливо лосося сила: на толокне, што ли, разжирел? Стали кижана туда ухожи – ездили рыбу ловить в устье речки
    </p>
    <p>
      Лижмы, потом к
      шуму речонки приобвыкли:
      - Эва, како весело место! Завсегда река поет! – опреселились тут. с.58
    </p>
    <p>
      д. Боярщина: Лес рубили за деревней Боярщиной. с. 75
    </p>
    <p>
      Типиницы: с.78 – рассказ про восстание от деда Буркова из д. Типиницы
    </p>
    <p>
      Святая Салма: - Это, парень, можно сказать, шибко повезло тебе – ты через Святую Салму проскочил! – говорил мне на другое утро знакомый плотник-реставратор из деревни Середки. – Да знаешь ли ты, что по этому месту до тебя шел один только человек – пеши шел, да и то провалился! … с.88
      А Корнилий: «Это – святая Салма. Купель грешному моему телу господь приготовил! По грехам моим!» Так и стали звать – Святая Салма. с.89
    </p>
    <p>
      Деревня Середка: Дошел почти до Середки – лед под ним и расступился. Бог-от, конешно, тут ни при чем. В здешних местах со дна, верно, ключи бьют, так лед подмывают. с. 88
    </p>
    <p>
      Русь: Среди десятков «досюльщин и бывальщин» особой окраской – яркой, фантастичной – выделяются рассказы, отражающие былые религиозные поверья, иногда очень древние ( такие, как поверье о Маре – женском домашнем божестве, напоминающем божества древних греков, римлян и скандинавов – Мойру,
      Парку, Норну). Чаще это рассказы почти юмористические, немногим отличающиеся от издавна распространенных на Руси антипоповских сказок. с.91
    </p>
    <p>
      Купецкое озеро: У нас калики наезжали с пудожского берега, больше с Купецкого озера, старинки петь; певцы были – такой промысел. с.117
    </p>
    <p>
      Шуньга: Сказывают, сошлись раз в Шуньге Мещанинов с Ваней да Гаркуша Мошанской с Латышевым – этот на реке Онеге жил, - они целый день по очереди пели, перепеть друг дружку не могли. с. 120
    </p>
    <p>
      Кузаранда, Вырозеро, Толвуя: Первая забота и докука – хорошего мастера согласить. Были в Заонежье натодильные плотники: толпами шли из Толвуи, Кузаранды, Вырозеро. Про Кижи и говорить нечего: здесь самые славутные жили: Беканин из Волкострова, такой мужчина, под черну грядку; Федор
      Тимофеев
      из
      деревни Зиновьево целую артель выводил – все братья да сыновья; Павел Петров Власов тоже из кижских. На Онеге просторно ветру, в Заонежье – молве о мастерах. с.129
    </p>
    <p>
      Пегрема, Лижмозеро: Наши заонежана знали, где лес рубить. Толвуйски возили бревна гужом из Пегремы и Лижмозера, плавали озером из Кодачей. Кижана из Липовиц бревна добывали. с.131
    </p>
    <p>
      Балтика: Онежская быстрая сойма побывала в морских плаваниях и даже в океанском походе. В одиннадцатом веке началось освоение Балтики русскими мореходами. Через пятьсот лет царское правительство собирает сведения о состоянии мореходства и торговли на Балтийском море. с.148
    </p>
    <p>
      Ламбасручей: Казалось, в далеком прошлом остались паруса, компасы-«матки» да песочные часы былой мореходной страды. Давно уже не видно на просторах нашего Онего парусов сойм, да и лодки-«кижанки» стали редки: заонежане летают в Петрозаводск на самолетах, на подводных крыльях «Метеоров» и
      «Комет». Но стоило мне начать расспрашивать о «старобытном» кораблике, как повсюду в Заонежье – в Кижах, Толвуе, Ламбасручье, Шуньге, - я стал находить былых шкиперов, матросов, строителей сойм. с.148
    </p>
    <p>
      Усть-Яндом: Вот хоть вовсе близко от Спаса Усть-Яндома, тоже кижской деревней считается, а уж не сравнишь наши нивья с островной землей! с.174
      У нас пенье розно. В Усть-Яндоме поют круто, а кижана гораздо растягивают. с.176
    </p>
    <p>
      Каргополь: В Иванонов день, 24 июня, в Муромском монастыре (в Пудоге это) случалась боротьба, съезд борцов; с сходились силачи. с. 184
    </p>
    <p>
      Беломорск: Зимой, после крещенья, шли обозы на Сороку – нынешний Беломорск – везли овощи, хлеб. с.220
    </p>
    <p>
      Петрозаводск: …Нунь Петрозаводск, почитай, весь каменный. А поднимался он в первые годы советской власти из дерева! с. 232
    </p>
    <p>
      Финляндия: Богатый сосед был, так тому на двор еще двух жеребцов пригнали из Финляндии – гривы дыбом, бока блестят, как медведи, в стойлах-то ворочаются. с.235
    </p>
    <p>
      Италия: Да! Надо реставрировать… Начальство наехало. «Это работа итальянских мастеров», - говорят, хотят в Италию звонить, резчика вызывать. с.246
    </p>
    <p>
      Кавгора: Часовня эта – с шатром, а возведена в ХVII веке! Привезена в Кижи из деревни Кавгора, Кондопожского района. с.249
      Кавгора – деревушка по кряжеватой дороге километрах в двенадцати от Ершей – это, знаешь, село, центр Сележского сельсовета, стоит аккурат на берегу озера Сандал, от нее путь водный до Кондопоги, около сорока километров, верно, будет. с.250
      …Вот это поведай приезжим-то! И еще: стоит, мол, здесь в Кижах на почетном месте часовня Трех Святителей из карельской деревни Кавгора. с.252
    </p>
    <p>
      Березовая Сельга: Им все интересно – и то, как, к примеру, водяную мельницу мы из Березовой Сельги перевозили, в снег глубокий, по сугробам, ломили дорогу к ней полтора десятка лошадей, да вокруг люди откапывали день целый. с. 249
    </p>
  </div>
